/* This file is for your main application css. */
body { margin: 0; padding: 0; border: 0; }
#wrapper{width: 510px; margin: 0 auto;}
#canvas{
  border: solid 1px #222;
  width: 500px;
  height: 500px;
}
